@{
    <!DOCTYPE html>

<body>

    <section class="main">
        <div class="center">
          
            <header>
                <div class="logo">
                   <a href="index.html"><img src="logo.png"></a> 
                </div>

             <div class="menu">
                    <a href="#">Model S</a>
                    <a href="model3.html">Model 3</a>
                    <a href="#">Model X</a>
                    <a href="#">Model Y</a>
                    <a href="#">Solar Roof</a>
                    <a href="#">Solar Panels</a>
               
                </div>
            
               <div class="menu1">
                    <a href="#">Shoop</a>
                    <a href="#">Account</a>
                    <a href="#">Menu</a>
                </div>

            </header>
            <div class="title">
                <h1>Model 3</h1>
                <p>Order Online<a href="#"> Now on our website  !</a></p>
            </div><!--title-->
            <div class="btn">
                <a href="">Custom Order</a>
                <a style="background-color:rgb(240, 234, 234);color: rgb(8, 8, 8);" href="">Existing Inventory</a>
            </div>

        </div><!--center-->
    </section><!--main-->
     
</body>

             
   
}
